/* BASIC SETTINGS */
/* fonts */
@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama.eot");
  src: url("../fonts/Flama.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flama.woff2") format("woff2"),
    url("Flama.woff") format("woff"),
    url("../fonts/Flama.ttf") format("truetype"),
    url("Flama.svg#Flama") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama-Medium.eot");
  src: url("../fonts/Flama-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flama-Medium.woff2") format("woff2"),
    url("../fonts/Flama-Medium.woff") format("woff"),
    url("../fonts/Flama-Medium.ttf") format("truetype"),
    url("../fonts/Flama-Medium.svg#Flama-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama-Bold.eot");
  src: url("../fonts/Flama-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flama-Bold.woff2") format("woff2"),
    url("../fonts/Flama-Bold.woff") format("woff"),
    url("../fonts/Flama-Bold.ttf") format("truetype"),
    url("../fonts/Flama-Bold.svg#Flama-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Flama";
  src: url("../fonts/FlamaBlack.eot");
  src: url("../fonts/FlamaBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FlamaBlack.woff2") format("woff2"),
    url("../fonts/FlamaBlack.woff") format("woff"),
    url("../fonts/FlamaBlack.ttf") format("truetype"),
    url("../fonts/FlamaBlack.svg#FlamaBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input::placeholder {
  transition: 250ms ease all;
}
input:focus::placeholder {
  opacity: 0;
}
html,
body {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Flama", sans-serif;
  font-weight: 400;
  background: #ffffff;
  overflow-x: hidden;
}
body {
  height: fit-content;
  width: 100%;
  overflow-y: hidden;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
a:focus,
a:active :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  display: block;
  vertical-align: top;
}

a {
  display: block;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.container {
  width: 100%;
  padding: 17px 0px 17px 102px;
  margin: 0 auto;
}
.content__left {
  padding: 70px 0 80px;
  width: 50%;
}
.content__right {
  width: 50%;
  padding-right: 17px;
}
.content__wrapper {
  justify-content: space-between;
  gap: 100px;
}
.header__wrapper {
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  gap: 35px;
}
.header-nav__item {
  padding: 15px 18px;
  font-weight: 700;
  color: #373c46;
  position: relative;
  font-size: 20px;
  transition: 250ms ease all;
  text-transform: uppercase;
}
.header-nav__item:hover {
  color: #20b688;
}
.preview-top__box {
  margin-top: 190px;
  margin-bottom: 100px;
}
.preview__title {
  font-weight: 900;
  color: #373c46;
  font-size: 86px;
  text-transform: uppercase;
  align-items: center;
  gap: 30px;
  line-height: 86px;
  position: relative;
  z-index: 2;
}
.preview {
  position: relative;
}
.preview::after {
  content: "";
  bottom: -75px;
  position: absolute;
  right: 0;
  width: 1000%;
  height: 2px;
  background: #f7f8fa;
}
.content-right__main {
  height: 100%;
}
.content-right-main__item {
  height: 100%;
}
.pfll__main {
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.pfll-main__flag {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #20b688;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373c46;
}

.pfll-main__flag img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  overflow: hidden;
}

.pfll-dropdown__item .pfll-main__flag {
  width: 32px;
  height: 32px;
  background: transparent;
}
.pfll__main.active .pfll-main__angle img {
  transform: rotate(180deg);
}
.pfll-main__angle img {
  transition: 250ms ease all;
}
.pfll__dropdown {
  transition: 250ms ease all;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
}
.pfll__dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.pfll-dropdown__item {
  padding: 10px 8px;
  align-items: center;
  gap: 16px;
  transition: 250ms ease all;
}
.pfll-dropdown__item:hover {
  color: #20b688;
}
.pfll-main__text {
  font-weight: 700;
  font-size: 17px;
}
.preview-footer-left__lang {
  position: relative;
}
.pfll__dropdown {
  position: absolute;
  bottom: 110%;
}
.content-right__top {
  justify-content: space-between;
}
.preview-footer-left__box {
  display: flex;
  align-items: center;
  gap: 60px;
}
.crti__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-right-top__item {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}
.content-right-top__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 20%);
  opacity: 0;
  visibility: hidden;
  transition: 250ms ease all;
}
.crti__btn {
  padding: 20px 25px;
  border: 2px solid rgb(255 255 255 / 20%);
  align-items: center;
  gap: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  transition: 250ms ease all;
}
.content-right-top__item.soon .crti__content {
  opacity: 0.1;
}
.content-right-top__item.soon::after {
  display: none;
}
.crti__soon {
  font-weight: 900;
  font-size: 32px;
  color: #fff;
  position: absolute;
  right: -70px;
  transform: rotate(-90deg);
}
.pflgi__item {
  transition: 250ms ease all;
}
.pflao__item {
  opacity: 0.3;
  transition: 250ms ease all;
}
.pflao__item:hover {
  opacity: 1;
}
.pflgi__item:hover {
  transform: scale(1.1);
}
.pfll__main .pfll-main__flag img {
  transition: 250ms ease all;
}
.pfll__main:hover .pfll-main__flag img {
  width: 35px;
  height: 35px;
}
.pfll__main.active:hover .pfll-main__flag img {
  width: 32px;
  height: 32px;
}
.content-right__bottom .crti__text {
  margin-bottom: 0;
}
.crti__btn:hover {
  background: rgb(255 255 255 / 20%);
  border: 2px solid transparent;
}
.content-right-top__item:hover::after {
  opacity: 1;
  visibility: visible;
}
.crti__development {
  position: absolute;
  align-items: center;
  bottom: 25px;
  gap: 12px;
  font-weight: 900;
  color: #fff;
  font-size: 15px;
}
.crti__logo {
  margin-bottom: 45px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crti__text {
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  max-width: 283px;
  margin-bottom: 58px;
}
.content-right__bottom .content-right-top__item {
  width: 100%;
}
.content-right-main__item:not(:first-child) {
  margin-top: 30px;
}
.content-right__bottom {
  height: calc(33.3% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
}
.content__right {
  position: relative;
  z-index: 3;
}
.content-right__top {
  height: calc(66.6% - 10px);
}
.pfll-dropdown__item {
  cursor: pointer;
}
.crti__back img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-footer-left__gi {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.preview-footer__left {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}
.preview-footer-left-available__other {
  display: flex;
  gap: 60px;
  align-items: center;
}
body {
  height: 100vh;
}
.content,
.container,
.content__wrapper,
.content__left {
  height: 100%;
}
.preview__title::after {
  content: "Game projects";
  font-size: 134px;
  color: #f7f8fa;
  text-wrap: nowrap;
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  z-index: -1;
  bottom: 50px;
}
.preview__text {
  color: #747b88;
  font-size: 16px;
  max-width: 646px;
  line-height: 22px;
  margin-top: 57px;
}
.previews__subtitle {
  position: relative;
  z-index: 1;
}
.previews__subtitle::after {
  content: "worthy of your time";
  font-size: 80px;
  color: #f7f8fa;
  text-wrap: nowrap;
  position: absolute;
  left: 37%;
  text-transform: uppercase;
  transform: translateX(-50%);
  z-index: -1;
  bottom: 5px;
}
.preview-top {
  padding-left: 45px;
  position: relative;
}
.preview-top::after,
.preview-top::before {
  content: "";
  width: 8px;
  height: 41%;
  background: #373c46;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 9%;
}
.preview-top::before {
  background: #20b688;
  bottom: 9%;
  top: unset;
}
.preview__title img {
  position: relative;
  top: 2px;
}
.previews__subtitle {
  color: #20b688;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 67px;
}
.header-nav__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 50%;
  transition: 250ms ease all;
  bottom: 0;
  background: #20b688;
}
.header-nav__item:hover::after {
  left: 0;
  width: 100%;
}
.content-right__about {
  background: #f7f8fa;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px;
}
.crat-title__text {
  color: #373c46;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
}
.crat-title__text span {
  color: #20b688;
}
.crat__title {
  display: flex;
  margin-bottom: 19px;
  justify-content: space-between;
  align-items: center;
}
.crat__img {
  height: 230px;
  width: 100%;
  position: relative;
  margin-bottom: 45px;
}
.crat__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.crat__subtitle {
  font-weight: 500;
  color: #373c46;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 45px;
}
.crat__text {
  color: #373c46;
  font-size: 18px;
  max-width: 732px;
  line-height: 24px;
}
.crat__item:not(:first-child) {
  margin-top: 50px;
}
.crat__list {
  flex-direction: column;
  gap: 20px;
}
.crat-list__item span {
  color: #20b688;
}
.crat-img__list {
  display: grid;
  margin-bottom: 45px;
  grid-template-columns: repeat(3, calc(33.3% - 42px));
  justify-content: space-between;
}
.crat-img-list__item {
  height: 350px;
  position: relative;
}
.crat-img-list__item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}
.crat__item .crat__text:not(:first-child) {
  margin-top: 25px;
}
.crat-list__item {
  font-weight: 500;
  line-height: 24px;
  color: #373c46;
  font-size: 16px;
}
.crw__banner {
  width: 100%;
  height: 300px;
  position: relative;
}
.crw-banner__back img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
}
.crw-banner__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.crw-banner__title {
  font-weight: 900;
  color: #f7f8fa;
  font-size: 53px;
  text-transform: uppercase;
}
.crw-banner__text {
  font-weight: 500;
  font-size: 17px;
  color: #f7f8fa;
}

.content-right__work {
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.crw__content {
  padding: 25px;
}
.crwc-list__item {
  border: 3px solid #f1f2f5;
  padding: 25px 25px 25px 30px;
  display: flex;
  transition: 350ms ease all;
  gap: 17px;
}
.crwc-list__item:hover {
  border: 3px solid #20b688;
  border-bottom: 3px solid #f1f2f5;
}
.crwc-list__item:hover .crwc-list-item__icon img:nth-child(1) {
  opacity: 0;
}
.crwc-list__item:hover .crwc-list-item__icon img:nth-child(2) {
  opacity: 1;
}
.crwc-list__item:hover .crwclit__title {
  color: #20b688;
}
.crwc-list__item:last-child:hover {
  border: 3px solid #20b688;
  border-bottom: 3px solid #f1f2f5;
}
.crwc-list-item__icon {
  position: relative;
}
.crwc-list-item__icon img {
  width: 39px;
  transition: 350ms ease all;
}
.crwc-list-item__icon img:nth-child(2) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.crwclit__text {
  max-width: 610px;
  color: #373c46;
  font-size: 16px;
  margin-top: 5px;
}
.crwclit__title {
  transition: 350ms ease all;
  font-weight: 700;
  font-size: 19px;
  color: #373c46;
  line-height: 26px;
  margin-top: 6px;
}
.crwc-list__item:not(:first-child) {
  border-bottom: 0;
}
.crwc-list__item:first-child {
  border-bottom: 0;
}
.crwc-list__item:last-child {
  border: 3px solid #f1f2f5;
}
.crwc--inner {
  padding: 55px 50px;
}
.crwc-info__icon img {
  width: 45px;
}
.crwc__info {
  gap: 20px;
}
.crwc-info-content__title {
  font-weight: 700;
  color: #20b688;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 29px;
}
.crwc-info-content__apply {
  font-weight: 500;
  color: #373c46;
  font-size: 16px;
  margin-bottom: 15px;
}
.crwc-info-content__apply a {
  color: #20b688;
  font-weight: 700;
}
.crwc-info-content__apply {
  gap: 4px;
}
.crwc-info-content__info {
  font-weight: 500;
  color: #373c46;
  font-size: 16px;
  margin-top: 15px;
  line-height: 23px;
}
.crwc-info-content__btn {
  font-weight: 900;
  color: #fff;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 65px;
  gap: 20px;
  background: #20b688;
  transition: 250ms ease all;
  padding: 25px 30px;
  text-transform: uppercase;
}
.pfll-main__text {
  color: #373c46;
}
.content-ru .preview__title::after {
  content: "Игровые проекты";
}
.crwc-info-content__btn:hover {
  transform: scale(1.03);
}
.content-ru .previews__subtitle::after {
  content: "достойные вашего времени";
}
.content-ru .preview__title {
  font-size: 72px;
}
.content-ru .previews__subtitle {
  font-size: 44px;
}
.content-ru .crw-banner__title {
  font-size: 30px;
  width: 95%;
  line-height: 40px;
}
.content__left {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 2000px) {
  .content-ru .preview__title {
    font-size: 64px;
  }
  .content-ru .previews__subtitle {
    font-size: 37px;
  }
  .content-ru .previews__subtitle::after {
    font-size: 45px;
    left: 43%;
  }
  .content-ru .preview__title::after {
    font-size: 74px;
    content: "Игровые проекты";
    left: 45%;
    bottom: 30px;
  }
}
/* BASIC SETTINGS END*/
@media screen and (max-width: 1800px) {
  .container {
    padding: 17px 0px 17px 80px;
  }
  .content__left {
    padding: 60px 0 70px;
  }
  .header-logo img {
    width: 94px;
  }
  .header__nav {
    gap: 33px;
  }
  .preview__title {
    font-size: 73px;
  }
  .preview__title img {
    width: 405px;
  }
  .crti__logo img {
    width: 90%;
  }
  .crti__logo {
    margin-bottom: 35px;
  }
  .crti__text {
    margin-bottom: 45px;
  }
  .crti__btn {
    padding: 18px 23px;
    font-size: 17px;
  }
  .crti__soon {
    font-size: 30px;
  }
  .preview__title::after {
    font-size: 113px;
    bottom: 45px;
  }
  .previews__subtitle::after {
    font-size: 68px;
  }
  .previews__subtitle {
    font-size: 47px;
  }
  .preview-top__box {
    margin-top: 170px;
    margin-bottom: 100px;
  }
  .content__wrapper {
    gap: 80px;
  }
  .content__left {
    width: 45%;
  }
  .content__right {
    width: 55%;
  }
  .content-right__about {
    padding: 46px;
  }
  .crat-title__text {
    font-size: 35px;
  }
  .crati-title__logo img {
    width: 64px;
  }
  .crat__subtitle {
    margin-bottom: 43px;
  }
  .crat-img__list {
    grid-template-columns: repeat(3, calc(33.3% - 38px));
  }
  .crwc--inner {
    padding: 50px 45px;
  }
  .crwc-info-content__btn {
    margin-top: 60px;
  }
  .content-ru .preview__title {
    font-size: 53px;
  }
  .content-ru .previews__subtitle {
    font-size: 31px;
  }
  .content-ru .preview__title::after {
    font-size: 62px;
  }
  .content-ru .previews__subtitle::after {
    font-size: 38px;
  }
  .content__left {
    max-height: 975px;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    padding: 17px 0px 17px 40px;
  }
  .content__left {
    padding: 40px 0;
  }
  .header-logo img {
    width: 84px;
  }
  .header-nav__item {
    font-size: 18px;
    padding: 13px 16px;
  }
  .header__nav {
    gap: 28px;
  }
  .preview__title {
    font-size: 56px;
    gap: 20px;
  }
  .preview__title::after {
    font-size: 84px;
    bottom: 33px;
  }
  .preview-top {
    padding-left: 35px;
  }
  .previews__subtitle {
    font-size: 43px;
    line-height: 60px;
  }
  .preview__text {
    margin-top: 45px;
  }
  .preview__text {
    max-width: 560px;
  }
  .previews__subtitle::after {
    font-size: 50px;
  }
  .pflao__item img {
    width: 50px;
  }
  .pflao__item:nth-child(4) img {
    width: 45px;
  }
  .preview-footer-left__box {
    gap: 40px;
  }
  .preview-footer__left {
    gap: 40px;
  }
  .preview-footer-left-available__other {
    gap: 40px;
  }
  .preview__title img {
    width: 321px;
  }
  .preview-top__box {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .content-right__about {
    padding: 40px;
  }
  .crat-title__text {
    font-size: 33px;
  }
  .crat__title {
    margin-bottom: 16px;
  }
  .crat__subtitle {
    margin-bottom: 40px;
  }
  .crat__img {
    height: 215px;
  }
  .crat__list {
    gap: 18px;
  }
  .crat-img__list {
    grid-template-columns: repeat(3, calc(33.3% - 30px));
  }
  .crat__text {
    line-height: 23px;
  }
  .crwc-list__item {
    padding: 20px 20px 20px 25px;
  }
  .crwc-list-item__icon img {
    width: 36px;
  }
  .crwclit__title {
    margin-top: 3px;
  }
  .crw-banner__title {
    font-size: 47px;
  }
  .crw-banner__text {
    font-size: 16px;
    max-width: 550px;
  }
  .crwc--inner {
    padding: 40px 35px;
  }
  .crwc-info__icon img {
    width: 40px;
  }
  .crwc-info-content__title {
    font-size: 22px;
  }
  .crwc-info-content__info {
    margin-top: 14px;
  }
  .crwc-info-content__btn {
    margin-top: 40px;
    font-size: 18px;
    padding: 22px 27px;
  }
  .content-ru .preview__title {
    font-size: 46px;
    line-height: 60px;
  }
  .content-ru .previews__subtitle {
    font-size: 29px;
  }
  .content__left {
    max-height: 900px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 17px 0px 17px 17px;
  }
  .content__left {
    padding: 30px 0;
  }
  .header__nav {
    gap: 25px;
  }
  .header-nav__item {
    font-size: 17px;
    padding: 11px 13px;
  }
  .preview-top__box {
    margin-top: 130px;
    margin-bottom: 100px;
  }
  .preview__title {
    font-size: 50px;
    gap: 18px;
    line-height: 57px;
  }
  .previews__subtitle::after {
    font-size: 40px;
  }
  .preview-footer-left__box {
    gap: 30px;
  }
  .preview::after {
    bottom: -50px;
  }
  .content__wrapper {
    gap: 50px;
  }
  .crti__logo {
    height: 80px;
    margin-bottom: 25px;
  }
  .crti__text {
    margin-bottom: 30px;
  }
  .crti__btn {
    padding: 13px 19px;
    font-size: 16px;
  }
  .crti__development {
    font-size: 14px;
  }
  .crti__soon {
    font-size: 24px;
    right: -54px;
  }
  .crti__text {
    max-width: 248px;
  }
  .crti__logo img {
    width: 70%;
  }
  .preview__title img {
    width: 303px;
  }
  .preview__title::after {
    font-size: 66px;
    bottom: 23px;
  }
  .previews__subtitle {
    font-size: 37px;
  }
  .content-right__about {
    padding: 35px;
  }
  .crat-title__text {
    font-size: 31px;
  }
  .crati-title__logo img {
    width: 55px;
  }
  .crat__title {
    margin-bottom: 14px;
  }
  .crat__subtitle {
    margin-bottom: 30px;
  }
  .crat__img {
    height: 200px;
    margin-bottom: 35px;
  }
  .crat-img__list {
    margin-bottom: 35px;
  }
  .crat__text {
    font-size: 16px;
  }
  .crat__item .crat__text:not(:first-child) {
    margin-top: 20px;
  }
  .crat-img__list {
    grid-template-columns: repeat(3, calc(33.3% - 15px));
  }
  .crw-banner__title {
    font-size: 43px;
  }
  .crw__banner {
    height: 250px;
  }
  .crw-banner__text {
    max-width: 523px;
  }
  .crw__content {
    padding: 20px;
  }
  .content-ru .preview__title {
    font-size: 42px;
    line-height: 57px;
  }
  .content-ru .previews__subtitle {
    font-size: 25px;
  }
  .content-ru .preview__title::after {
    font-size: 46px;
    bottom: 18px;
  }
  .content-ru .previews__subtitle::after {
    font-size: 28px;
  }
  .content__left {
    max-height: 850px;
  }
}
@media screen and (max-width: 1200px) {
  .header-logo img {
    width: 70px;
  }
  .header-nav__item {
    font-size: 15px;
    padding: 12px 7px;
  }
  .preview__title {
    font-size: 43px;
    gap: 15px;
    line-height: 54px;
  }
  .preview__title img {
    width: 241px;
  }
  .previews__subtitle {
    font-size: 31px;
  }
  .preview__title::after {
    font-size: 56px;
    bottom: 19px;
  }
  .previews__subtitle::after {
    font-size: 33px;
  }
  .preview__text {
    margin-top: 35px;
  }
  .preview-top__box {
    margin-top: 80px;
    margin-bottom: 90px;
  }
  .preview-footer-left__box {
    gap: 20px;
  }
  .content__left {
    overflow: auto;
  }
  .content__left {
    overflow-x: hidden;
  }
  .content__left::-webkit-scrollbar {
    width: 0;
  }
  .content__left {
    padding-bottom: 0;
  }
  .preview-footer-left__box {
    flex-wrap: wrap;
  }
  .preview-footer-left__gi {
    flex-direction: row;
  }
  .preview-footer__left {
    align-items: flex-end;
  }
  .preview::after {
    bottom: -30px;
  }
  .preview-footer-left-available__other {
    gap: 30px;
  }
  .pfll__main .pfll-main__flag img,
  .pfll-main__flag img {
    width: 26px;
    height: 26px;
  }
  .pfll-dropdown__item {
    padding: 7px 4px;
  }
  .pfll-dropdown__item {
    gap: 11px;
  }
  .pfll-main__flag {
    width: 40px;
    height: 40px;
  }
  .pfll__main:hover .pfll-main__flag img {
    width: 28px;
    height: 28px;
  }
  .crti__text {
    max-width: 200px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .crti__logo img {
    width: 65%;
  }
  .crti__development {
    bottom: 15px;
  }
  .crti__logo {
    height: 56px;
    margin-bottom: 20px;
  }
  .content-right__bottom .crti__text {
    max-width: 260px;
  }
  .crti__soon {
    font-size: 19px;
    right: -43px;
  }
  .crti__soon {
    font-size: 19px;
    right: -43px;
    bottom: 50%;
    transform: translateY(25%) rotate(-90deg);
  }
  .content__left {
    padding: 20px 0;
  }
  .crat-title__text {
    font-size: 29px;
  }
  .crat__img {
    height: 180px;
  }
  .crat__item:not(:first-child) {
    margin-top: 40px;
  }
  .crw__banner {
    height: 220px;
  }
  .crwclit__title {
    font-size: 18px;
  }
  .crw-banner__title {
    font-size: 36px;
  }
  .crw-banner__text {
    max-width: 381px;
    line-height: 20px;
  }
  .content-ru .preview__title {
    font-size: 32px;
    line-height: 40px;
  }
  .content-ru .previews__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .content-ru .preview__title::after {
    display: none;
  }
  .content-ru .previews__subtitle::after {
    display: none;
  }
  .content__left {
    max-height: 650px;
  }
}
@media screen and (max-width: 992px) {
  .content__wrapper {
    flex-direction: column;
  }
  .content__left {
    width: 100%;
    overflow: unset;
    height: fit-content;
  }
  .content__left {
    padding: 0;
  }
  .header__nav {
    gap: 20px;
  }
  body {
    height: unset;
  }
  .content__wrapper {
    justify-content: unset;
  }
  .content__right {
    width: 100%;
  }
  .preview__title::after {
    font-size: 49px;
    bottom: 19px;
    left: 25%;
  }
  .previews__subtitle::after {
    left: 22%;
  }
  .content-right-main__item {
    height: 700px;
  }
  .header-logo img {
    width: 60px;
  }
  .container {
    padding: 15px;
  }
  .preview-footer-left__box {
    gap: 40px;
  }
  .content-ru .preview__title {
    font-size: 40px;
    line-height: 60px;
  }
  .content-ru .previews__subtitle {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .content-right__top {
    height: calc(66.6% - 5px);
    flex-direction: column;
  }
  .crti__logo img {
    width: 50%;
  }
  .crti__logo {
    height: 40px;
    margin-bottom: 10px;
  }
  .content-right__top {
    height: 100%;
  }
  .content-right-top__item,
  .content-right__bottom {
    height: 250px;
  }
  .content-right__top {
    height: unset;
  }
  .content-right-main__item {
    gap: 10px;
  }
  .content-right__top {
    gap: 10px;
  }
  .crti__text {
    max-width: 80%;
  }
  .content-right-top__item {
    position: relative;
    width: calc(100%);
  }
  .content-right-main__item {
    height: unset;
  }
  .content-right__bottom {
    margin-top: 10px;
  }
  .preview__title::after {
    display: none;
  }
  .previews__subtitle::after {
    display: none;
  }
  .crti__content {
    top: -10px;
  }
  .crti__development {
    bottom: 5px;
  }
  .content-right-main__item:not(:first-child) {
    margin-top: 10px;
  }
  .content-right__bottom .crti__text {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .header-nav__item {
    font-size: 14px;
    padding: 10px 3px;
  }
  .crti__soon {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
  }
  .content-ru .preview__title {
    font-size: 30px;
    line-height: 54px;
  }
  .content-ru .previews__subtitle {
    font-size: 23px;
  }
  .header__nav {
    gap: 10px;
  }
  .header-logo img {
    width: 50px;
  }
  .preview-top__box {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .preview__title {
    font-size: 27px;
    gap: 9px;
    line-height: 27px;
  }
  .preview__title img {
    width: 142px;
    top: 1px;
  }
  .crw-banner__title {
    font-size: 28px;
  }
  .crw__banner {
    height: 180px;
  }
  .crw-banner__text {
    max-width: 282px;
    line-height: 20px;
    font-size: 14px;
  }
  .crw__content {
    padding: 10px;
  }
  .crwc-list__item {
    padding: 15px 15px 15px 20px;
    gap: 13px;
  }
  .crwc-list-item__icon img {
    width: 30px;
  }
  .crwclit__title {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 11px;
  }
  .crwclit__text {
    font-size: 15px;
  }
  .previews__subtitle {
    font-size: 19px;
    line-height: 33px;
  }
  .preview-top {
    padding-left: 15px;
  }
  .preview-top::after,
  .preview-top::before {
    width: 4px;
  }
  .preview__text {
    margin-top: 25px;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .preview-footer-left__box {
    gap: 20px;
  }
  .pflao__item img {
    width: 40px;
  }
  .pflao__item:nth-child(4) img {
    width: 35px;
  }
  .pfll__main.active:hover .pfll-main__flag img {
    width: 28px;
    height: 28px;
  }
  .crti__text {
    margin-bottom: 15px;
  }
  .crti__btn {
    padding: 9px 16px;
    font-size: 14px;
    gap: 13px;
  }
  .crti-btn__angle img {
    width: 18px;
  }
  .crti-development__icon img {
    width: 20px;
  }
  .crti__soon {
    font-size: 18px;
    right: -43px;
    bottom: 50%;
    transform: translateY(100%) rotate(-90deg);
  }
  .content-right__about {
    padding: 20px;
  }
  .crat-title__text {
    font-size: 24px;
  }
  .crati-title__logo img {
    width: 45px;
  }
  .crat__subtitle {
    font-size: 17px;
    line-height: 22px;
  }
  .crat__img,
  .crat-img-list__item {
    height: 140px;
  }
  .crat-img__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .crwc--inner {
    padding: 20px;
  }
  .crwc-info-content__title {
    font-size: 20px;
  }
  .crwc-info-content__info {
    font-size: 15px;
  }
  .crwc-info-content__btn {
    margin-top: 30px;
    font-size: 16px;
    padding: 17px 20px;
  }
  .content-ru .crw-banner__title {
    font-size: 23px;
    width: 95%;
    line-height: 26px;
  }
}
